/* 
    Name: Ajdin Fazlic
    Course: CS412
    Assignment: Project 2- CSS
    Due Date: 5.11.2020.
    Purpose: The purpose of this .css file is to style my resume page for my project*/

body{
    background-color: rgb(25, 97, 174);
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -5;
}

/*div{
  width: 100%;
  height: 100%;
}*/


header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(175, 234, 220);
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 0;
    
}

header img{
    margin-bottom: 3em;
    border: solid black;
}

header h1{
    padding: 5px 0px;
}

/**#navigationBar{
    margin-bottom: 2em;
    padding: 1em;
}

#navigationBar a{
    float: left;
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navigationBar a:hover{
    color: rgb(25, 97, 174);
}**/

blockquote, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto";
    color: white;
}


h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: justify;
}

.button{
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#bio{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-right: 0em;
    margin-bottom: 4em;
    margin-left: 0em;
    background-color:  rgb(138, 186, 221);
    text-align: center;
    border-radius: 25%;
    perspective: 1000px;   
}

#bio h2{
    text-align: center;
}


#personalInfo{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-right: 0em;
    margin-bottom: 2em;
    margin-left: 0em;
    background-color: rgb(138, 186, 221);
    text-align: center;
    border-radius: 25%;
   perspective: 1000px;  
}

#personalInfo  h3{
    text-align: center;
}

#personalInfoHeading{
    text-align: center;
}

#containers{
    display: flex;
    justify-content: space-evenly;
}

#education{
    background-color: rgb(138, 186, 221);
    margin-left: 30em;
    margin-right: 5em;
    padding: 5px 0px;
    width: 50%;
    perspective: 1000px;
}

#education h2{
    margin-left: 2em;
}

#educationList{
    margin-top: 0em;
    margin-right: 4em;
    margin-left: 4em;
}

#workandexp{
    background-color: rgb(138, 186, 221);
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 5px 0px;
    perspective: 1000px;
    position: relative;
    z-index: -4;
}

#workandexpList{
    margin-top: 0em;
    margin-right: 4em;
    margin-left: 4em;
}

#workandexp h2{
    margin-left: 2em;
}

#skills{
    background-color: rgb(138, 186, 221);
    margin-top: 4em;
    margin-left: 45em;
    margin-bottom: 4em;
    margin-right: 2em;
    padding: 5px 0px;
    width: 25%;
    border-radius: 25%;
    perspective: 1000px;
    position: relative;
    z-index: -4;
}

#skills h2{
    margin-left: 2em;
}

#skillList{
    margin-top: 0em;
    margin-right: 4em;
    margin-left: 4em;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(175, 234, 220);
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 5px 0px;
    perspective: 1000px;
}

footer, #footerHeading, .contact{
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html, body {
  height: 100%;
}


nav {
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(25px, -25px, 0);
          transform: translate3d(25px, -25px, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 350px;
  -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.disc div {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}


.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(138, 186, 221);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  
}
.open .l1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: #1a0a07;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .l1:active {
  background: rgb(25, 97, 174);
  color: rgb(138, 186, 221);
}
.open .l1.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: rgb(119, 181, 226);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.open .l2 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: #1a0c06;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .l2:active {
  background: rgb(13, 72, 134);
  color: rgb(138, 186, 221);
}
.open .l2.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: rgb(98, 173, 226);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.open .l3 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: #1a0f04;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .l3:active {
  background: rgb(9, 63, 121);
  color: rgb(138, 186, 221);
}
.open .l3.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: rgb(85, 166, 224);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.open .l4 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: #1a1103;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .l4:active {
  background: rgb(1, 71, 145);
  color: rgb(138, 186, 221);
}
.open .l4.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background: rgb(45, 146, 218);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
          z-index: -1;
}

.open .l5 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l5:hover {
  background: #1a1103;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l5:active {
  background: rgb(1, 71, 145);
  color: rgb(138, 186, 221);
}

.open .l5.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}



.l6 {
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background: rgb(45, 146, 218);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
          z-index:-2;
}

.open .l6 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l6:hover {
  background: #1a1103;
  color: rgb(175, 234, 220);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l6:active {
  background: rgb(1, 46, 94);
  color: rgb(138, 186, 221);
}
.open .l6.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l7 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: rgb(175, 234, 220);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.open .l7 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l7:hover {
  background: #1a1301;
  color: rgb(45, 146, 218);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .l7:active {
  background: rgb(5, 93, 187);
  color: rgb(129, 197, 245);
}
.open .l7.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: rgb(175, 234, 220);
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.open .toggle {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
          transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: #1a1600;
  color: rgb(45, 146, 218);
}
.toggle:active {
  background: rgb(5, 93, 187);
  color: rgb(129, 197, 245);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.card{
  transition: 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.front, .back{
  backface-visibility: hidden;
}

.front {
  border: 2px solid rgb(138, 186, 221);
  border-radius: 90%;
  align-items: center;  
}

.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  border: 2px solid rgb(138, 186, 221);
  border-radius: 25%;
  /*background: url("http://placehold.it/100x100");*/
  transform: rotateY(180deg);
}

.back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

input[type=text], select, textarea{
  width: 50%;
  padding: 12px;
  border: 1px solid darkgray;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-left: 10em;
  margin-right: 10em;
  /*margin-top: 4em;
  margin-bottom: 4em;*/
  padding: 5px 0px;
  perspective: 1000px;
}

input[type=submit]{
  background-color: rgb(175, 234, 220);
  color: white;
  padding: 12px, 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

input[type=submit]:hover{
  background: #1a1600;
  color: rgb(45, 146, 218);
}

#commentText{
  text-align: center;
  padding-bottom: 2em;
}


.label{
  padding-left: 8em;
  font-family: "Roboto";
  color: white;
}

#comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#submitButton{
  padding-left: 15em;
  
}